.welcome_header {
    text-align: center;
    color: #d9caca;
    font-family: Bahnschrift;
    font-size: 100px;
}
.welcome_text {
    text-align: center;
    color: #d9caca;
    font-family: Bahnschrift;
    font-size: 20px;
}
